<li class="grid__item grid__item--{{section.id}} {{ grid_item_width }} collrep {% for tag in product.tags %}{{ tag | handle }} {% endfor %}">
  <div class="hidden-xs">
    <div class="product_div">
      <div class="product_hover dproduct_hover" id="pd{{ product.id }}">
        <div class="prod_img_div" id="{{ product.variants.first.id }}">          
          <div class="product_img">
            
            
            <a href="{{ product.url}}" title="">    
              {% if product.featured_image.src != blank %}
              <img class="lazyload lazyload--fade-in" data-src="{{ product.featured_image.src | img_url: 'grande'}}" alt="{{ product.title }}">
              {% else %}
              <div class="onboard">
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
              </div>
              {% endif %}    
            </a>
          </div>
          {% if product.type != "Gift Card"%}
          <div class="click_div custom_prop_event">
            <div class="click_inner"><img onclick="show_detail({{ a }}{{ s }})" class="lazyload lazyload--fade-in" data-src="{{ 'menu_g.png' | asset_url }}" alt="Show detail"></div>
            <div class="click_inner plus_g"><img class="myc lazyload lazyload--fade-in" onclick="addthistocart({{ product.variants.first.id }},{{ product.variants.first.id }},1)" data-src="{{ 'plus_g.png' | asset_url }}" alt="Add to cart">
              <div class="hover_green">
                {% for tag in product.tags %}
                {% if tag contains 'per_' %}
                <h5>Per {{ tag | remove:'per_' }}</h5>
                {% break %}
                {% endif %}
                {% endfor %}

                <ul class="tag_ul" >
                  {% for tag in product.tags %}
                  {% if tag contains 'pro_' %}
                  <li><span>Pro</span> {{ tag | remove:'pro_' }}</li>
                  {% break %}
                  {% endif %}
                  {% endfor %}
                  {% for tag in product.tags %}
                  {% if tag contains 'fat_' %}
                  <li><span>Fat</span>{{ tag | remove:'fat_' }}</li>
                  {% break %}
                  {% endif %}
                  {% endfor %}
                  {% for tag in product.tags %}
                  {% if tag contains 'carb_' %}
                  <li><span>Carbs</span>{{ tag | remove:'carb_' }}</li>
                  {% break %}
                  {% endif %}
                  {% endfor %}
                  {% for tag in product.tags %}
                  {% if tag contains 'cal_' %}
                  <li><span>Cal</span>{{ tag | remove:'cal_' }}</li>
                  {% break %}
                  {% endif %}
                  {% endfor %}    
                </ul>
              </div>

              <div class="click_green text-center" id="dclick_green{{ a }}{{ s }}">
                <h5>
                  {% for tag in product.tags %}
                  {% if tag contains 'per_' %}
                  Per {{ tag | remove:'per_' }}
                  {% break %}
                  {% endif %}
                  {% endfor %}
                  <div class="cross_w">
                    <img onclick="hide_detail({{ a }}{{ s }})" class="lazyload lazyload--fade-in" data-src="{{ 'cross_w.png' | asset_url }}" alt="Hide detail">
                  </div>
                </h5>

                <ul class="tag_ul" >
                  {% for tag in product.tags %}
                  {% if tag contains 'pro_' %}
                  <li><span>Pro</span> {{ tag | remove:'pro_' }}</li>
                  {% break %}
                  {% endif %}
                  {% endfor %}
                  {% for tag in product.tags %}
                  {% if tag contains 'fat_' %}
                  <li><span>Fat</span>{{ tag | remove:'fat_' }}</li>
                  {% break %}
                  {% endif %}
                  {% endfor %}
                  {% for tag in product.tags %}
                  {% if tag contains 'carb_' %}
                  <li><span>Carbs</span>{{ tag | remove:'carb_' }}</li>
                  {% break %}
                  {% endif %}
                  {% endfor %}
                  {% for tag in product.tags %}
                  {% if tag contains 'cal_' %}
                  <li><span>Cal</span>{{ tag | remove:'cal_' }}</li>
                  {% break %}
                  {% endif %}
                  {% endfor %}    
                </ul>

                <form method="post" action="/cart/add"></form>
                {%- comment -%} Nik 03082021 START {%- endcomment -%} 
                {%- if product.tags contains 'Prefixed' -%}
                  {%- comment -%}
                  <input type="hidden" name="properties[Meal Contains]" value="{{ product.metafields['meal']['prefixed']}}"/>
                  {%- endcomment -%}
                  <input type="hidden" name="properties[_lifestyleinfo]" value="{{-product.selected_or_first_available_variant.metafields['mealinfo']['lifestyleinfo']-}}"/>
                  <input type="hidden" name="properties[_meal-type]" value="prefixed"/>
                  
                  {%- comment -%}
                  {%- assign mcollection = collections[product.handle] -%}
                  {% if mcollection %}		
                    {%- if mcollection.all_products_count > 0 -%}   
                        {%- for cproduct in mcollection.products -%}
                              <input id="item-{{ forloop.index }}" readonly type="hidden" class="prefixitem" name="properties[_item-{{ forloop.index }}]" value="{{ cproduct.selected_or_first_available_variant.id  }}" data-qty="1" />
                        {%- endfor -%}
                    {%- endif -%}	
                  {%- endif -%}	
				 {%- endcomment -%}
                
                {%- elsif product.tags contains 'lifestyle_meal' or product.tags contains 'breakfast_meal' -%}
                  <input type="hidden" name="properties[_lifestyleinfo]" value="{{-product.selected_or_first_available_variant.metafields['mealinfo']['lifestyleinfo']-}}"/>
                  <input type="hidden" name="properties[_meal-type]" value="lifestyle_breakfast"/>
                {%- endif -%}
                {%- comment -%} Nik 03082021 END {%- endcomment -%} 
                {% unless product.handle contains 'gift' %}
                <div class="quantity_variant">
                  <div class="product_quantity_div">
                    <input class="minus" type="button" value="-">
                    <input type="number" name="quantity" value="1" min="1" pattern="[0-9]*" class="product-form__input product-form__input--quantity" data-quantity-input="">
                    <input class="plus" type="button" value="+">                  
                    <div class="clearfix"></div>
                  </div>

                  <ul class="variant_ul">
                    {% for variant in product.variants %}
                    {% unless product.has_only_default_variant %}
                    {% if variant.available %}
                    <li onclick="setvar({{ a }}{{ s }}, {{ variant.id }}, '{{ variant.price | money }}', {{ product.id }})" {% if variant == product.selected_or_first_available_variant %} class="var_selected" {% endif %} id="d{{ variant.id }}">
                      {{ variant.title }}
                    </li>
                    {% endif %}
                    {% endunless %}
                    {% endfor %}
                  </ul>
                </div>
                {% endunless %}

                <h6>{{ product.price | money }}</h6>

                {% unless product.handle contains 'gift' %}
                <input id="dprovar{{ a }}{{ s }}" type="hidden" name="id" value="{{ product.variants.first.id }}">
                {% comment %}
                <button type="button" onclick="addthistocart({{ product.variants.first.id }},$('#dprovar{{ a }}{{ s }}').val(),$('.dproduct_hover #{{ product.variants.first.id }} .product-form__input--quantity').val())" class="btn">Add To Cart</button>
                {% endcomment %}
                <button type="button" onclick="addthistocart({{ product.variants.first.id }},{{ product.variants.first.id }},1)" class="btn">Add To Cart</button>
                {% else %}
                <button type="button" onclick="window.location='{{ product.url }}'"class="btn">View Options</button>
                {% endunless %}
              </div>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
      <div class="product_text text-center">
        <h3><a href="{{ product.url}}" title="">{{ product.title }}</a></h3>  
        <h4>{{ product.price | money }}</h4>
      </div>
    </div>
  </div>

  <div class="visible-xs">
    <div class="product_upper_div">
      <div class="product_inner_div">
        <div class="pdp_img_div">
          {% if product.featured_image.src != blank %}
          <a href="{{ product.url}}" title="">
            <img class="lazyload lazyload--fade-in" data-src="{{ product.featured_image.src | img_url: '300x' }}" alt="{{ product.title }}">
          </a>
          {% else %}
          <div class="onboard">
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
          </div>
          {% endif %}   
        </div>    
      </div>

      <div class="product_inner_div custom_prop_event" id="mclick_green{{ a }}{{ s }}">
        <div class="pdp_text_div">
          <h3><a href="{{ product.url }}" title="">{{ product.title }}</a></h3>          

          <div class="mobile_hover">
            {% for tag in product.tags %}
            {% if tag contains 'per_' %}
            <h5>Per {{ tag | remove:'per_' }}</h5>
            {% break %}
            {% endif %}
            {% endfor %}

            <ul class="tag_ul" >
              {% for tag in product.tags %}
              {% if tag contains 'pro_' %}
              <li><span>Pro</span> {{ tag | remove:'pro_' }}</li>
              {% break %}
              {% endif %}
              {% endfor %}

              {% for tag in product.tags %}
              {% if tag contains 'fat_' %}
              <li><span>Fat</span>{{ tag | remove:'fat_' }}</li>
              {% break %}
              {% endif %}
              {% endfor %}

              {% for tag in product.tags %}
              {% if tag contains 'carb_' %}
              <li><span>Carbs</span>{{ tag | remove:'carb_' }}</li>
              {% break %}
              {% endif %}
              {% endfor %}

              {% for tag in product.tags %}
              {% if tag contains 'cal_' %}
              <li><span>Cal</span>{{ tag | remove:'cal_' }}</li>
              {% break %}
              {% endif %}
              {% endfor %}    
            </ul>
          </div>
            {%- comment -%} Nik 03082021 START {%- endcomment -%} 
            {%- if product.tags contains 'Prefixed' -%}
            {%- comment -%}<input type="hidden" name="properties[Meal Contains]" value="{{ product.metafields['meal']['prefixed']}}"/>{%- endcomment -%}
            <input type="hidden" name="properties[_lifestyleinfo]" value="{{-product.selected_or_first_available_variant.metafields['mealinfo']['lifestyleinfo']-}}"/>
            <input type="hidden" name="properties[_meal-type]" value="prefixed"/>
          
          	{%- comment -%}
            {%- assign mcollection = collections[product.handle] -%}
          
            {%- if mcollection.all_products_count > 0 -%}   
                {%- for cproduct in mcollection.products -%}
                      <input id="item-{{ forloop.index }}" readonly type="hidden" class="prefixitem" name="properties[_item-{{ forloop.index }}]" value="{{ cproduct.selected_or_first_available_variant.id  }}" data-qty="1" />
                {%- endfor -%}
            {%- endif -%}	
          {%- endcomment -%} 
          {%- elsif product.tags contains 'lifestyle_meal' or product.tags contains 'breakfast_meal' -%}
            <input type="hidden" name="properties[_lifestyleinfo]" value="{{-product.selected_or_first_available_variant.metafields['mealinfo']['lifestyleinfo']-}}"/>
            <input type="hidden" name="properties[_meal-type]" value="lifestyle_breakfast"/>
          {%- endif -%}
          {%- comment -%} Nik 03082021 END {%- endcomment -%} 
          {% unless product.handle contains 'gift' %}
          <div class="product_quantity_div">
            <input class="minus" type="button" value="-">
            <input type="number" name="quantity" value="1" min="1" pattern="[0-9]*" class="product-form__input {{ product.variants.first.id }} product-form__input--quantity" data-quantity-input="">
            <input class="plus" type="button" value="+">                  
            <div class="clearfix"></div>
          </div>

          {% unless product.has_only_default_variant %}
          <ul class="variant_ul">
            {% for variant in product.variants %}
            {% if variant.available %}
            <li onclick="setvar({{ a }}{{ s }}, {{ variant.id }}, '{{ variant.price | money }}', {{ product.id }})" {% if variant == product.selected_or_first_available_variant %} class="var_selected" {% endif %} id="m{{ variant.id }}">
              {{ variant.title }}
            </li>
            {% endif %}
            {% endfor %}
          </ul>
          {% endunless %}
          {% endunless %}

          <h6>{{ product.price | money }}</h6>

          {% unless product.handle contains 'gift' %}
          <input id="mprovar{{ a }}{{ s }}" type="hidden" name="id" value="{{ product.variants.first.id }}">
          {% comment %}
          <button type="button" onclick="addthistocart({{ product.variants.first.id }},$('#mprovar{{ a }}{{ s }}').val(),$('.{{ product.variants.first.id }}.product-form__input--quantity').val())" class="btn">Add To Cart</button>
          {% endcomment %}
          <button type="button" onclick="addthistocart({{ product.variants.first.id }},{{ product.variants.first.id }},1)" class="btn">Add To Cart</button>
          <div class="wishcoll-mob">{% include 'iwish_v2' with 'iwishCollection' %}</div>
          {% else %}
          <button type="button" onclick="window.location='{{ product.url }}'"class="btn">View Options</button>
          <div class="wishcoll-mob">{% include 'iwish_v2' with 'iwishCollection' %}</div>
          {% endunless %}
        </div>
      </div>
    </div>
  </div>
</li>