<style>
  div#shopify-section-custom-header {
    position: sticky;
    top: 0;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    z-index: 99;
  }

  .navbar .container-fluid {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  .navbar {
    position: relative;
    min-height: 50px;
    margin: 0;
    background: #fff;
    border: transparent;
  }

  .nav-container {
    text-align: center;
    background: #f2f2f2;
    overflow: hidden;
    padding: 4px 0;
  }

  .header_container {
    max-width: 1900px;
    padding: 0 15px;
    margin: 0 auto;
  }
  @media screen and (max-width: 800px) {
    .header_container {
      height: 40px;
    }
  }

  .header_container.bttm {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav-container #top-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 5px 0;
  }

  .nav-container #top-right .search-icon {
    cursor: pointer;
    width: 227px;
  }

  .search-bar__form {
    flex: 1 1 100%;
    position: relative;
    max-width: 750px;
    border: 1px solid transparent;
  }

  .search-form__input-wrapper {
    position: relative;
  }

  .nav-container #top-right .search-icon .search-bar__input {
    width: 100%;
    min-height: 26px;
    padding: 3px 18px;
    border-radius: 24px;
    color: #000;
    background-color: #fff;
    border: 1px solid #e8e8e8;
  }

  .search-bar__submit {
    z-index: 1;
    position: absolute;
    right: 0;
    top: 0;
    display: inline-block;
    padding: 0 12px;
    height: 100%;
    vertical-align: middle;
    background-color: transparent;
    border: 0;
    margin: 0;
    color: #000;
  }

  .nav-container #top-right .btn_group .btn-green {
    padding: 2px 20px;
    margin: 0 0 0 9px;
    font-size: 12px;
    font-family: rubikmedium;
    min-width: 131px;
    border-radius: 20px;
  }

  .nav-container #top-right .btn_group .btn-green {
    padding: 2px 20px;
    margin: 0 0 0 9px;
    font-size: 12px;
    font-family: rubikmedium;
    min-width: 131px;
    border-radius: 20px;
    background: #23d16a;
    color: #fff;
  }

  .nav-container #top-right .cart-item {
    padding: 0 15px 0 0;
    margin-right: 20px;
    margin-left: 17px;
    position: relative;
    cursor: pointer;
  }

  .nav-container #top-right .btn_group .btn-black {
    background-color: #2c2c2c;
    color: #fff;
    margin: 0 0 0 9px;
    padding: 2px 20px;
    min-width: 108px;
    font-size: 12px;
    border-radius: 20px;
    font-family: rubikmedium;
  }

  .nav-container #top-right .btn_group .btn-black a {
    color: #fff;
    font-size: 12px;
    font-family: rubikmedium;
    box-shadow: none !important;
    text-transform: capitalize;
  }

  .cart_total_price {
    float: right;
    font-size: 16px;
    line-height: 19px;
    color: #23d16a;
    font-family: rubikmedium;
    font-weight: 400;
    cursor: pointer;
  }

  .navbar-collapse {
    padding: 0;
  }

  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: 0;
    padding: 8px;
    height: auto;
    float: left;
    font-size: 18px;
    line-height: 20px;
  }

  .navbar-brand img {
    display: block;
    width: 200px;
  }

  .navbar-brand .mobile {
    display: none;
  }

  .navbar-nav {
    float: right;
    text-transform: capitalize;
    font-family: rubikregular;
  }

  .nav > li {
    margin-right: 50px;
    transition: all 0.3s ease-in-out;
  }

  .nav > li:last-child {
    margin-right: 0;
  }

  .navbar-default .navbar-nav > li > a,
  .dropdown-menu > li > a {
    color: #2c2c2c;
    cursor: pointer;
    font-family: rubikregular;
  }

  .nav > li > a {
    padding-left: 0;
    padding-right: 0;
    font-size: 18px;
  }

  a.nav-link.dropdown-toggle .caret {
    text-align: center;
  }

  .caret {
    border: 1px solid #2c2c2c;
    border-top: none;
    border-left: none;
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
    margin: -10px 0 0 5px;
    display: inline-block;
    vertical-align: middle;
  }

  .dropdown-menu {
    border-radius: 0;
    -webkit-box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    box-shadow: 0 0 #0000002d;
    padding: 0;
    border-top: 6px solid #23d16a;
    left: 0;
  }

  .navbar-nav > li > a:hover {
    color: #23d16a !important;
  }

  .navbar-nav .nav-item:hover .dropdown-menu {
    display: block;
    transition: all 0.3s ease-in-out;
  }

  li.dropdown-item {
    border-bottom: 1px solid #eee;
    padding: 2px 0;
  }

  .dropdown-menu > li > a {
    padding: 3px 5px;
    color: #464646 !important;
    font-size: 14px;
  }

  .dropdown-menu > li > a:focus,
  .dropdown-menu > li > a:hover {
    color: #23d16a !important;
    text-decoration: none;
    background-color: transparent;
  }

  .only_for_mobile {
    display: none;
  }

  .user-icon {
    display: none;
  }

  @media screen and (max-width: 1212px) {
    .nav > li {
      margin-right: 30px;
    }
  }

  @media screen and (max-width: 1092px) {
    .nav > li > a {
      font-size: 14px;
    }
  }

  @media screen and (max-width: 767px) {
    header#header {
      position: fixed;
      width: 100%;
      top: 0;
      z-index: 999999;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .nav-container {
      text-align: right;
      background: transparent;
      overflow: hidden;
      margin-right: 0;
      margin-left: 0;
    }

    .header_container.bttm {
      display: block;
    }

    .navbar-header {
      display: flex;
      align-items: center;
    }

    .mob_inner a {
      width: 100%;
      justify-content: center;
    }

    .navbar-brand img {
      width: 150px;
    }

    .mob_inner {
      width: 33.33%;
      text-align: center;
    }

    .navbar-default .navbar-toggle {
      border: none;
      margin-top: 8px;
      padding: 0 10px 0 0;
      float: left;
    }

    .navbar-default .navbar-toggle .icon-bar {
      background-color: #23d16a;
      height: 3px;
    }

    .nav-container #top-right .btn_group,
    .nav-container #top-right .search-icon {
      display: none;
    }

    .nav-container #top-right .cart-item .badge {
      background: #23d16a;
      position: absolute;
      top: -6px;
      width: 19px;
      height: 19px;
      text-align: center;
      padding: 0;
      line-height: 19px;
      font-size: 12px;
      font-weight: 700;
      left: 16px;
    }

    .nav-container #top-right .cart-item {
      margin-right: 0;
    }

    .user-icon {
      display: block;
    }

    .mobile_add_menu {
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      z-index: 99999999;
      transition: 0.3s all ease-in-out;
    }

    .mob_bg_banner {
      width: 80%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      -webkit-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
    }

    .mobile_add_menu_upper {
      background-image: url(pk-green-1-01.svg);
      max-width: 80%;
      height: 100%;
      padding: 20px 0;
      z-index: 999999;
    }
  }

  @media screen and (max-width: 640px) {
    .navbar-brand img {
      position: relative;
      left: -10px;
    }
  }
</style>

<header id="header">
  <nav class="navbar navbar-default" id="myHeader">
    <div class="container-fluid">
      <div class="">
        <div class="">
          <div class="nav-container hidden-xs">
            <div class="header_container">
              <div id="top-right">
                <div class="search-icon">
                  <form
                    class="search-form search-bar__form"
                    action="{{ routes.search_url }}"
                    method="get"
                    role="search"
                  >
                    <div class="search-form__input-wrapper">
                      <input
                        type="text"
                        name="q"
                        role="combobox"
                        aria-autocomplete="list"
                        aria-owns="predictive-search-results"
                        aria-expanded="false"
                        aria-label="{{ 'general.search.placeholder' | t }}"
                        aria-haspopup="listbox"
                        class="search-form__input search-bar__input"
                        data-predictive-search-drawer-input
                      >
                      <input type="hidden" name="options[prefix]" value="last" aria-hidden="true">
                      <div
                        class="predictive-search-wrapper predictive-search-wrapper--drawer"
                        data-predictive-search-mount="drawer"
                      ></div>
                    </div>

                    <button class="search-bar__submit search-form__submit" type="submit" data-search-form-submit>
                      <img src="{{ 'd_search.svg' | asset_url }}" title="" alt="">
                    </button>
                  </form>
                </div>
                <div class="btn_group">
                  <button class="btn btn-green" onclick="window.location='/apps/iwish'">
                    Wishlist (<span class="iWishCount">0</span>)
                  </button>
                  <button class="btn btn-black">
                    {% if shop.customer_accounts_enabled %}
                      {% if customer %}
                        <a href="{{ routes.account_url }}">My Account - {{ customer.name }}</a>
                      {% else %}
                        <a href="{{ routes.account_login_url }}">My Account</a>
                      {% endif %}
                    {% endif %}
                  </button>
                </div>

                <div
                  {% if settings.show_cart_drawer == true and template != 'cart' %}
                    onclick="showcart(1)"
                  {% else %}
                    onclick="window.location='{{ routes.cart_url }}'"
                  {% endif %}
                  class="cart-item"
                >
                  <span class="badge CartCount">
                    {%- assign bold_options_hybrid_item_count = 0 -%}
                    {%- for item in cart.items -%}
                      {%- unless item.properties._boldBuilderId and item.properties._boldVariantIds == null -%}
                        {%- assign bold_options_hybrid_item_count = bold_options_hybrid_item_count
                          | plus: item.quantity
                        -%}
                      {%- endunless -%}
                    {%- endfor -%}
                    {{- bold_options_hybrid_item_count -}}
                  </span>
                  <img src="{{ 'd_cart.svg' | asset_url }}" title="" alt="">
                </div>
                <div
                  {% if settings.show_cart_drawer == true and template != 'cart' %}
                    onclick="showcart(1)"
                  {% endif %}
                  class="cart_total_price cart-price"
                >
                  <span class="Bold-theme-hook-DO-NOT-DELETE bold_cart_total" style="display:none !important;"></span>
                  {{- cart.total_price | money }}
                </div>

                {% if shop.customer_accounts_enabled %}
                  {% if customer %}
                    <div class="user-icon">
                      <a href="{{ routes.account_url }}">
                        <img src="{{ 'user_icon.png' | asset_url }}" alt="" title="">
                      </a>
                    </div>
                  {% else %}
                    <div class="user-icon">
                      <a href="{{ routes.account_login_url }}">
                        <img src="{{ 'user_icon.png' | asset_url }}" alt="" title="">
                      </a>
                    </div>
                  {% endif %}
                {% endif %}
              </div>
            </div>
          </div>

          <div class="header_container bttm">
            <div class="navbar-header ">
              <div class="mob_inner">
                <button type="button" class="navbar-toggle collapsed" onclick="menu_click(1)">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <div class="navbar_mene_text"></div>
                </button>
              </div>

              <div class="mob_inner">
                {% if section.settings.logo %}
                  <a href="/" class="navbar-brand">
                    {% capture logo_alt %}{{ section.settings.logo.alt | default: shop.name }}{% endcapture %}
                    <img
                      class="desktop"
                      src="{{section.settings.logo | img_url: 'master'}}"
                      alt="{{logo_alt | escape}}"
                    >
                    <img
                      class="mobile"
                      src="{{section.settings.mob_logo | img_url: 'master'}}"
                      alt="{{logo_alt | escape}}"
                    >
                  </a>
                {% else %}
                  <a class="navbar-brand" href="/">{{ shop.name }}</a>
                {% endif %}
              </div>

              <div class="mob_inner">
                <div class="nav-container visible-xs">
                  <div id="top-right">
                    <div class="btn_group">
                      <button class="btn btn-green">Re-order Previous</button>
                      <button class="btn btn-black"><a href="/account">My Account</a></button>
                    </div>

                    <div class="user-icon" style="margin-right:15px;">
                      <a href="/apps/iwish"
                        ><i style="color: #23D16A;font-size: 18px;vertical-align: bottom;" class="fa fa-heart"></i
                      ></a>
                    </div>

                    {% if shop.customer_accounts_enabled %}
                      {% if customer %}
                        <div class="user-icon">
                          <a href="{{ routes.account_url }}">
                            <img src="{{ 'user_icon.png' | asset_url }}" title="" alt="">

                            <img
                              style="position: absolute;bottom: -7px;width: 15px;right: 2px;"
                              src="{{ 'tick.png' | asset_url }}"
                              title=""
                              alt=""
                            >
                          </a>
                        </div>
                      {% else %}
                        <div class="user-icon">
                          <a href="{{ routes.account_login_url }}">
                            <img src="{{ 'user_icon.png' | asset_url }}" title="" alt="">
                          </a>
                        </div>
                      {% endif %}
                    {% endif %}

                    <div
                      {% if settings.show_cart_drawer == true and template != 'cart' %}
                        onclick="showcart(1)"
                      {% else %}
                        onclick="window.location='{{ routes.cart_url }}'"
                      {% endif %}
                      class="cart-item"
                    >
                      <span class="badge CartCount">
                        {%- assign bold_options_hybrid_item_count = 0 -%}
                        {%- for item in cart.items -%}
                          {%- unless item.properties._boldBuilderId and item.properties._boldVariantIds == null -%}
                            {%- assign bold_options_hybrid_item_count = bold_options_hybrid_item_count
                              | plus: item.quantity
                            -%}
                          {%- endunless -%}
                        {%- endfor -%}
                        {{- bold_options_hybrid_item_count -}}
                      </span>
                      <img src="{{ 'd_cart.svg' | asset_url }}" title="" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
              <a
                href="javascript:void(0)"
                class="navbar-toggle collapsed closebtn"
                data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false"
              >
                <i class="fa fa-times"></i>
              </a>
              {% comment %}
                <div class="hide-search">
                  {% include 'search-form-responsive' %}
                </div>
              {% endcomment %}
              {% include 'new-site-nav' %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <div class="only_for_mobile">
    {% if section.settings.logo %}
      <a href="/" class="">
        {% capture logo_alt %}{{ section.settings.logo.alt | default: shop.name }}{% endcapture %}
        <img class="" src="{{section.settings.logo | img_url: 'master'}}" alt="{{logo_alt | escape}}">
      </a>
    {% else %}
      <a class="" href="/">{{ shop.name }}</a>
    {% endif %}
  </div>

  <div class="visible-xs">
    <div class="mobile_add_menu" id="mobile_nav">
      <div class="mobile_add_menu_upper mob_bg_banner">
        <div class="cross_icon">
          <i class="fa fa-times" style="color:#FFF" onclick="menu_click(2)"></i>
        </div>

        {% include 'mobile-new-nav' %}

        {% comment %}
          <div class="mobile_site_nav">
            <ul id="MobileNav" class="mobile-nav">
              {% for link in linklists[section.settings.main_linklist].links %}
              {%- assign outerLoopIndex = forloop.index -%}

              <li class="mobile-nav__item">
                {% if link.links != blank %}
                {% capture child_list_handle %}{{ link.handle }}-{{ outerLoopIndex }}{% endcapture %}
                <button type="button" class="btn--link js-toggle-submenu mobile-nav__link{% if link.child_active %} mobile-nav__link--active{% endif %}" data-target="{{ child_list_handle }}" data-level="1" aria-expanded="false">
                  <span class="mobile-nav__label">{{ link.title | escape }}</span>
                  <div class="mobile-nav__icon">
                    {% include 'icon-chevron-right' %}
                  </div>
                </button>
                <ul class="mobile-nav__dropdown" data-parent="{{ child_list_handle }}" data-level="2">
                  <li class="visually-hidden" tabindex="-1" data-menu-title="2">
                    {{- link.title }} {{ 'layout.navigation.menu' | t -}}
                  </li>
                  <li class="mobile-nav__item border-bottom">
                    <div class="mobile-nav__table">
                      <div class="mobile-nav__table-cell mobile-nav__return">
                        <button class="btn--link js-toggle-submenu mobile-nav__return-btn" type="button" aria-expanded="true" aria-label="{{ link.title }}">
                          {% include 'icon-chevron-left' %}
                        </button>
                      </div>
                      <span class="mobile-nav__sublist-link mobile-nav__sublist-header mobile-nav__sublist-header--main-nav-parent">
                        <span class="mobile-nav__label">{{ link.title | escape }}</span>
                      </span>
                    </div>
                  </li>

                  {% for childlink in link.links %}
                  <li class="mobile-nav__item">
                    {% if childlink.links != blank %}
                    {% capture grandchild_list_handle %}{{ childlink.handle }}-{{ outerLoopIndex }}-{{ forloop.index }}{% endcapture %}
                    <button type="button" class="btn--link js-toggle-submenu mobile-nav__link mobile-nav__sublist-link" data-target="{{ grandchild_list_handle }}" aria-expanded="false">
                      <span class="mobile-nav__label">{{ childlink.title | escape }}</span>
                      <div class="mobile-nav__icon">
                        {% include 'icon-chevron-right' %}
                      </div>
                    </button>
                    <ul class="mobile-nav__dropdown" data-parent="{{ grandchild_list_handle }}" data-level="3">
                      <li class="visually-hidden" tabindex="-1" data-menu-title="3">
                        {{- childlink.title }} {{ 'layout.navigation.menu' | t -}}
                      </li>
                      <li class="mobile-nav__item">
                        <div class="mobile-nav__table">
                          <div class="mobile-nav__table-cell mobile-nav__return">
                            <button type="button" class="btn--link js-toggle-submenu mobile-nav__return-btn" data-target="{{ child_list_handle }}" aria-expanded="true" aria-label="{{ childlink.title }}">
                              {% include 'icon-chevron-left' %}
                            </button>
                          </div>
                          <a href="{{ childlink.url }}"
                             class="mobile-nav__sublist-link mobile-nav__sublist-header"
                             {% if childlink.current %} aria-current="page"{% endif %}
                             >
                            <span class="mobile-nav__label">{{ childlink.title | escape }}</span>
                          </a>
                        </div>
                      </li>
                      {% for grandchildlink in childlink.links %}
                      <li class="mobile-nav__item">
                        <a href="{{ grandchildlink.url }}"
                           class="mobile-nav__sublist-link"
                           {% if grandchildlink.current %} aria-current="page"{% endif %}
                           >
                          <span class="mobile-nav__label">{{ grandchildlink.title | escape }}</span>
                        </a>
                      </li>
                      {% endfor %}
                    </ul>
                    {% else %}
                    <a href="{{ childlink.url }}"
                       class="mobile-nav__sublist-link"
                       {% if childlink.current %} aria-current="page"{% endif %}
                       >
                      <span class="mobile-nav__label">{{ childlink.title | escape }}</span>
                    </a>
                    {% endif %}
                  </li>
                  {% endfor %}
                </ul>
                {% else %}
                <a href="{{ link.url }}"
                   class="mobile-nav__link{% if link.active %} mobile-nav__link--active{% endif %}"
                   {% if link.current %} aria-current="page"{% endif %}
                   >
                  <span class="mobile-nav__label">{{ link.title | escape }}</span>
                </a>
                {% endif %}
              </li>
              {% endfor %}
            </ul>

          </div>
        {% endcomment %}
      </div>
      <div class="mobile-menu-overlay" style="display:none;" onclick="menu_click(2)"></div>
    </div>
  </div>

  <script>
    function menu_click(para) {
      if (para == 1) {
        $('#mobile_nav').addClass('show_menu');
        $('.mobile-menu-overlay').show();
      } else {
        $('#mobile_nav').removeClass('show_menu');
        $('.mobile-menu-overlay').hide();

        firstnav();
      }
    }
  </script>
</header>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if section.settings.logo %}
      {% assign image_size = section.settings.logo.width | append:'x' %}
      "logo": {{ section.settings.logo | img_url: image_size | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ shop.url | append: page.url | json }}
  }
</script>

{% if request.page_type == 'index' %}
  {% assign potential_action_target = shop.url | append: routes.search_url | append: '?q={search_term_string}' %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ shop.url | append: page.url | json }}
    }
  </script>
{% endif %}

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "header",
      "content": "Logo"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo image"
    },
    {
      "type": "image_picker",
      "id": "mob_logo",
      "label": "Logo image"
    },
    {
      "type": "link_list",
      "id": "main_linklist",
      "label": {
        "da": "Menu",
        "de": "Menü",
        "en": "Menu",
        "es": "Menú",
        "fi": "Valikko",
        "fr": "Menu",
        "hi": "मेनू",
        "it": "Menu",
        "ja": "メニュー",
        "ko": "메뉴",
        "nb": "Meny",
        "nl": "Menu",
        "pt-BR": "Menu",
        "pt-PT": "Menu",
        "sv": "Meny",
        "th": "เมนู",
        "zh-CN": "菜单",
        "zh-TW": "選單"
      },
      "default": "main-menu"
    }
  ],
  "blocks": [
    {
      "type": "simple_link",
      "name": "Link",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Item"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    },
    {
      "type": "link-linklist",
      "name": "Link + linklist",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Item"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "link_list",
          "id": "links",
          "label": "Choose linklist"
        }
      ]
    }
  ]
}
{% endschema %}

<script type="text/javascript">
  $(function ($) {
    // Search
    //function search() {
    //var searchBar = document.getElementById('searchBar');

    /*document.querySelector('.icon-close').addEventListener('click', function(){
            document.getElementById('searchBar').style.display = "none";

          });

          document.querySelector('.search-icon').addEventListener('click', function() {
            searchBar.style.display = "block";

          })*/
    $('body').on('click', '.icon-close', function () {
      $('#searchBar').hide();
    });

    $('body').on('click', '.search-icon', function () {
      $('#searchBar').show();
    });
    //}
    //search();

    //  Menu Fixed

    function fixedHeader() {
      window.onscroll = function () {
        myFunction();
      };

      var header = document.getElementById('myHeader');
      var sticky = header.offsetTop;

      function myFunction() {
        if (window.pageYOffset > sticky) {
          header.classList.add('sticky');
        } else {
          header.classList.remove('sticky');
        }
      }
    }
    fixedHeader();

    /*function openNav() {
          //document.getElementById("overlay").style.width = "250px";
          document.querySelector('.hid_icon').classList.add('hideMenu');
          document.querySelector('.closebtn').style.display= 'block';
        }


        function closeNav() {
          // document.getElementById("overlay").style.width  = "0";
          document.querySelector('.hid_icon').classList.remove('hideMenu');
          document.querySelector('.closebtn').style.display= 'none';

        }*/

    $('body').on('click', '.closebtn', function () {
      $('.hid_icon').removeClass('hideMenu');
      $(this).hide();
    });

    $('body').on('click', '.navbar-header .navbar-toggle', function () {
      $('.hid_icon').addClass('hideMenu');
      $(this).show();
    });
  });
</script>
