{% render 'reward_faq-css' %}
<div class="faq_search">
    <div class="container">
      <form class="search-form search-bar__form" action="{{ routes.search_url }}" method="get" role="search">
        <div class="search-form__input-wrapper">
          <input
                 type="text"
                 name="q"
                 role="combobox"
                 aria-autocomplete="list"
                 aria-owns="predictive-search-results"
                 aria-expanded="false"
                 aria-label="{{ 'general.search.placeholder' | t }}"
                 aria-haspopup="listbox"
                 class="search-form__input search-bar__input"
                 data-predictive-search-drawer-input
                 />
          <input type="hidden" name="options[prefix]" value="last" aria-hidden="true" />
          <div class="predictive-search-wrapper predictive-search-wrapper--drawer" data-predictive-search-mount="drawer"></div>
        </div>
  
        <button class="search-bar__submit search-form__submit"
                type="submit"
                data-search-form-submit>
          <img class="lazyload lazyload--fade-in" data-src="{{ 'd_search.svg' | asset_url }}" title="" alt="Search">
        </button>
      </form>
    </div>
  </div>
  
  <div class="faq_heading">
    <div class="containerrewardfaq">
      <h2>{{ section.settings.life-heading }}</h2>   
      <p>{{ section.settings.life-content }}</p>     
    </div>
  </div>
  
  <div class="faq_main" data-aos="slide-up">
    <div class="containerrewardfaq">
      <div class="faq">
        <div class="faq_about">
          <h3> {{ section.settings.panel-title }} </h3>
          <div class="panel-group accordion11">
            {% for block in section.blocks %} 
            {% case block.type %}
            {% when 'first-block' %}
            <div class="panel panel-default">
              <div class="panel-heading" >
                
                {% comment %} <i class="fa-duotone fa-plus"></i> {% endcomment %}
                <h4 class="panel-title">
                  <a href="#collapse{{forloop.index}}">
                    {{ block.settings.faq-title }}
                  </a>
                </h4>
                {% render 'icon-plus' %}
              </div>
              <div class="panel-collapse">
                <div class="panel-body">
                  {{ block.settings.faq-description }}
                </div>
              </div>
            </div>
            {% endcase %}
            {% endfor %} 
          </div>
        </div>
  
        <div class="faq_delivery">
          <h3> {{ section.settings.panel-title-two }} </h3>
  
          <div class="panel-group accordion12">
            {% for block in section.blocks %} 
            {% case block.type %}
            {% when 'second-block' %}
            <div class="panel panel-default">
              <div class="panel-heading">
                {% comment %} <i class="fa-duotone fa-plus"></i> {% endcomment %}
                <h4 class="panel-title">
                  <a href="#collapse{{forloop.index}}">                      
                    {{ block.settings.faq-title-one }}
                  </a>
                </h4>
                {% render 'icon-plus' %}
              </div>
              <div class="panel-collapse">
                <div class="panel-body">
                  {{ block.settings.faq-description-one }}
                </div>
              </div>
            </div>
            {% endcase %}
            {% endfor %} 
          </div>
        </div>
  
        <div class="faq_delivery">
          <h3> {{ section.settings.panel-title-third }} </h3>
  
          <div class="panel-group accordion13">
            {% for block in section.blocks %} 
            {% case block.type %}
            {% when 'third-block' %}
            <div class="panel panel-default">
              <div class="panel-heading">
                {% comment %} <i class="fa-duotone fa-plus"></i> {% endcomment %}
                <h4 class="panel-title">
                  <a href="#collapse{{forloop.index}}">                      
                    {{ block.settings.faq-title-two }}
                  </a>
                </h4>
                {% render 'icon-plus' %}
              </div>
              <div class="panel-collapse">
                <div class="panel-body">
                  {{ block.settings.faq-description-two }}
                </div>
              </div>
            </div>
            {% endcase %}
            {% endfor %} 
          </div>
        </div>
  
        <div class="faq_contact">
          <h3>{{ section.settings.question-title }}</h3>
          <div class="">
  <!--         
            {%- assign formId = 'ContactForm' -%}
            {% form 'contact', id: formId %}
            {% include 'form-status', form: form, form_id: formId %} -->
            
            <div class="faq_contact_max">
            <div class="form-group">
              <input type="text" id="{{ formId }}-name" placeholder="Full Name" name="contact[{{ 'contact.form.name' | t }}]" value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}">
            </div>
            <div class="form-group">
              <input
                     type="email"
                     id="{{ formId }}-email" placeholder="Email"
                     name="contact[email]"
                     autocorrect="off"
                     autocapitalize="off"
                     value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                     aria-required="true"
                     {%- if form.errors contains 'email' -%}
                     class="input--error"
                     aria-invalid="true"
                     aria-describedby="{{ formId }}-email-error"
                     {%- endif -%}
                     >
              {%- if form.errors contains 'email' -%}
              <span id="{{ formId}}-email-error" class="input-error-message">
                <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                {% include 'icon-error' %}
                <span>{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
              </span>
              {%- endif -%}
            </div>      
            <div class="form-group">
              <textarea rows="10" placeholder="Question" id="{{ formId }}-message" name="contact[{{ 'contact.form.message' | t }}]">{% if form.body %}{{ form.body }}{% endif %}</textarea>
            </div>
            <div class="form-group text-right">
                <input type="submit" class="btn" value="Submit">
            </div>
            </div>
            {% endform %} 
            
          </div>
        </div>
        
      </div>
      <div>      
      </div>
    </div>
  </div>
  
  
  
  <script>
  var allPanels = $('.accordion11 .panel-collapse, .accordion12 .panel-collapse, .accordion13 .panel-collapse').hide();
  $('.accordion11 .panel .panel-heading .panel-title, .accordion12 .panel .panel-heading .panel-title, .accordion13 .panel .panel-heading .panel-title').click(function() {
    $this = $(this);
    $target =  $this.parent().next();
    $('.accordion11 .panel-collapse, .accordion12 .panel-collapse, .accordion13 .panel-collapse').removeClass('active').slideUp();
    if(!$target.hasClass('active')){
      allPanels.removeClass('active').slideUp();
      $target.addClass('active').slideDown();
    }
  });
   
  </script>
  {% schema %}
  {
  "name": "FAQ V2",
  "settings": [
      {
      "type": "html",
      "id": "head_title",
      "label": "Title"
      },
      {
      "type": "text",
      "id": "life-title",
      "label": "Life Title"
      },
  
      {
      "type": "text",
      "id": "life-heading",
      "label": "Life heading"
      },
      {
      "type": "html",
      "id": "life-content",
      "label": "Life content"
      },
      {
      "type": "text",
      "id": "panel-title",
      "label": "About Title"
      },
      {
      "type": "text",
      "id": "panel-title-two",
      "label": "Other Title Two"
      },
      {
      "type": "text",
      "id": "panel-title-third",
      "label": "Other Title Third"
      },
      {
      "type": "text",
      "id": "question-title",
      "label": "Question Title"
      }
  ],
  
  "blocks": [
    {
    "type": "first-block",
    "name": "First block",
    "settings": [
    {
    "type": "text",
    "id": "faq-title",
    "label":"Faq Text"
    },
    {
    "type": "html",
    "id": "faq-description",
    "label":"Faq Description"
    }
    ]
    },
    {
    "type": "second-block",
    "name": "Second block",
    "settings": [                 
    {
    "type": "text",
    "id": "faq-title-one",
    "label":"Faq Text"
    },
    {
    "type": "html",
    "id": "faq-description-one",
    "label":"Faq Description One"
    }
    ]
    },
    {
    "type": "third-block",
    "name": "Third block",
    "settings": [
    {
    "type": "text",
    "id": "faq-title-two",
    "label":"Faq Text"
    },
    {
    "type": "html",
    "id": "faq-description-two",
    "label":"Faq Description Two"
    }
    ]
    }
  ],
      "presets": [
          {
              "name" : "FAQ V2",
              "category" : "Image"
          }
      ]
  }
  {% endschema %}
  
  {% javascript %}
  {% endjavascript %}
  